
<html>
<body id="bg"  style= "margin: 0px;">
<img src="http://www.zastavki.com/pictures/originals/2013/Nature___Rivers_and_lakes_Rainbow_over_the_mountain_lake_041803_.jpg", width="1360" height="640">
</body>
</html>


 <!-- width="1060" height="495" -->
