---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/forecast?appid=8a0bc04465812ade7169590e02dc38b4&q=Denver,us&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":{"id":5419384,"name":"Denver","coord":{"lon":-104.984703,"lat":39.739151},"country":"US","population":0,"sys":{"population":0}},"cod":"200","message":0.0162,"cnt":40,"list":[{"dt":1464285600,"main":{"temp":63.48,"temp_min":56.89,"temp_max":63.48,"pressure":813.42,"sea_level":1018.59,"grnd_level":813.42,"humidity":65,"temp_kf":3.66},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":80},"wind":{"speed":9.55,"deg":15.5007},"rain":{},"sys":{"pod":"d"},"dt_txt":"2016-05-26
        18:00:00"},{"dt":1464296400,"main":{"temp":57.56,"temp_min":51.3,"temp_max":57.56,"pressure":812.23,"sea_level":1017.43,"grnd_level":812.23,"humidity":96,"temp_kf":3.47},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"clouds":{"all":76},"wind":{"speed":7.4,"deg":3.50494},"rain":{"3h":2.0275},"sys":{"pod":"d"},"dt_txt":"2016-05-26
        21:00:00"},{"dt":1464307200,"main":{"temp":52.56,"temp_min":46.66,"temp_max":52.56,"pressure":811.31,"[...]
