---
http_interactions:
- request:
    method: get
    uri: http://api.wunderground.com/api/f9bc7bc5873d396b/conditions/q/80204.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - f9bc7bc5873d396b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Creationtime:
      - '0.062'
      Last-Modified:
      - Thu, 26 May 2016 17:51:58 GMT
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\n{\n  \"response\": {\n  \"version\":\"0.1\",\n  \"termsofService\":\"http://www.wunderground.com/weather/api/d/terms.html\",\n
        \ \"features\": {\n  \"conditions\": 1\n  }\n\t}\n  ,\t\"current_observation\":
        {\n\t\t\"image\": {\n\t\t\"url\":\"http://icons.wxug.com/graphics/wu2/logo_130x80.png\",\n\t\t\"title\":\"Weather
        Underground\",\n\t\t\"link\":\"http://www.wunderground.com\"\n\t\t},\n\t\t\"display_location\":
        {\n\t\t\"full\":\"Denver, CO\",\n\t\t\"city\":\"Denver\",\n\t\t\"state\":\"CO\",\n\t\t\"state_name\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"zip\":\"80204\",\n\t\t\"magic\":\"1\",\n\t\t\"wmo\":\"99999\",\n\t\t\"latitude\":\"39.73483276\",\n\t\t\"longitude\":\"-105.02182770\",\n\t\t\"elevation\":\"1592.00000000\"\n\t\t},\n\t\t\"observation_location\":
        {\n\t\t\"full\":\"West Colfax at King St, Denver, Colorado\",\n\t\t\"city\":\"West
        Colfax at King St, Denver\",\n\t\t\"state\":\"Colorado\",\n\t\t\"country\":\"US\",\n\t\t\"country_iso3166\":\"US\",\n\t\t\"latitude\":\"39.739059\",\n\t\t\"longitude\":\"-105.033760\",\n\t\t\"elevation\":\"5320
        ft\"\n\t\t},\n\t\t\"estimated\": {\n\t\t},\n\t\t\"station_id\":\"KCODENVE97\",\n\t\t\"observation_time\":\"Last
        Updated on May 26, 11:51 AM MDT\",\n\t\t\"observation_time_rfc822\":\"Thu,
        26 May 2016 11:51:58 -0600\",\n\t\t\"observation_epoch\":\"1464285118\",\n\t\t\"local_time_rfc822\":\"Thu,
        26 May 2016 11:51:58 -0600\",\n\t\t\"local_epoch\":\"1464285118\",\n\t\t\"local_tz_short\":\"MDT\",\n\t\t\"local_tz_long\":\"America/Denver\",\n\t\t\"local_tz_offset\":\"-0600\",\n\t\t\"weather\":\"Mostly
        Cloudy\",\n\t\t\"temperature_string\":\"65.6 F (18.7 C)\",\n\t\t\"temp_f\":65.6,\n\t\t\"temp_c\":18.7,\n\t\t\"relative_humidity\":\"47%\",\n\t\t\"wind_string\":\"From
        the NNE at 2.0 MPH Gusting to 3.8 MPH\",\n\t\t\"wind_dir\":\"NNE\",\n\t\t\"wind_degrees\":24,\n\t\t\"wind_mph\":2.0,\n\t\t\"wind_gust_mph\":\"3.8\",\n\t\t\"wind_kph\":3.2,\n\t\t\"wind_gust_kph\":\"6.1\",\n\t\t\"pressure_mb\":\"1010\",\n\t\t\"pressure_in\":\"29.83\",\n\t\t\"pressure_trend\":\"-\",\n\t\t\"dewpoint_string\":\"45
        F (7 C)\",\n\t\t\"dewpoint_f\":45,\n\t\t\"dewpoint_c\":7,\n\t\t\"heat_index_string\":\"NA\",\n\t\t\"heat_index_f\":\"NA\",\n\t\t\"heat_index_c\":\"NA\",\n\t\t\"windchill_string\":\"NA\",\n\t\t\"windchill_f\":\"NA\",\n\t\t\"windchill_c\":\"NA\",\n\t\t\"feelslike_string\":\"65.6
        F (18.7 C)\",\n\t\t\"feelslike_f\":\"65.6\",\n\t\t\"feelslike_c\":\"18.7\",\n\t\t\"visibility_mi\":\"10.0\",\n\t\t\"visibility_km\":\"16.1\",\n\t\t\"solarradiation\":\"--\",\n\t\t\"UV\":\"8\",\"precip_1hr_string\":\"0.00
        in ( 0 mm)\",\n\t\t\"precip_1hr_in\":\"0.00\",\n\t\t\"precip_1hr_metric\":\"
        0\",\n\t\t\"precip_today_string\":\" in ( mm)\",\n\t\t\"precip_today_in\":\"\",\n\t\t\"precip_today_metric\":\"--\",\n\t\t\"icon\":\"mostlycloudy\",\n\t\t\"icon_url\":\"http://icons.wxug.com/i/c/k/mostlycloudy.gif\",\n\t\t\"forecast_url\":\"http://www.wunderground.com/US/CO/Denver.html\",\n\t\t\"history_url\":\"http://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KCODENVE97\",\n\t\t\"ob_url\":\"http://www.wunderground.com/cgi-bin/findweather/getForecast?query=39.739059,-105.033760\",\n\t\t\"nowcast\":\"\"\n\t}\n}\n"
  recorded_at: Thu, 26 May 2016 17:51:58 GMT
recorded_with: VCR 3.0.3
